doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Error #{ error.code }
  body
    h1 Error #{ error.code }
    h2= error.message
    for line in error.stack.split("\n")
      p= line