._module_37c6a {
  color: inherit;
  /* display: flex; */
  /* align-items: center; */
}

._name_37c6a {
  padding-right: 1rem;
}

._text_37c6a::-webkit-inner-spin-button,
._text_37c6a::-webkit-inner-spin-button {
  -webkit-appearance: none; 
  margin: 0;
}

._text_37c6a {
  width: 6ch;
  color: inherit;
  text-align: center;
  background: transparent;
  border: 1px solid grey;
  border-radius: 4px;
  padding: 2px 0;
}

._slider_37c6a {
  margin: auto 10px;
  max-width: 80px;
  vertical-align: sub;
}
._module_5f239 {
  top: 0;
  left: 0;
  z-index: 10;
  padding: 10px;
  position: absolute;
  background: rgba(50,50,50,0.7);
  font-size: 12px;
}

._button_5f239 {
  cursor: pointer;
  padding: 4px;
}
