
/* -------- Fonts -------- */

@font-face {
  font-family:'MessinaSansWeb';
  src: url('https://cdn.quarter.studio/fonts/messina-sans-regular.eot');
  src: url('https://cdn.quarter.studio/fonts/messina-sans-regular.eot?#iefix') format('embedded-opentype'), url('https://cdn.quarter.studio/fonts/messina-sans-regular.woff2') format('woff2'), url('https://cdn.quarter.studio/fonts/messina-sans-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+000D-FB04;
}

@font-face {
  font-family:'MessinaSansWeb';
  src: url('https://cdn.quarter.studio/fonts/messina-sans-semi.eot');
  src: url('https://cdn.quarter.studio/fonts/messina-sans-semi.eot?#iefix') format('embedded-opentype'), url('https://cdn.quarter.studio/fonts/messina-sans-semi.woff2') format('woff2'), url('https://cdn.quarter.studio/fonts/messina-sans-semi.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+000D-FB04;
}

@font-face {
  font-family:'MessinaSansMonoWeb';
  src: url('https://cdn.quarter.studio/fonts/messina-sans-mono-regular.eot');
  src:
    url('https://cdn.quarter.studio/fonts/messina-sans-mono-regular.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.quarter.studio/fonts/messina-sans-mono-regular.woff2') format('woff2'),
    url('https://cdn.quarter.studio/fonts/messina-sans-mono-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+000D-FB04;
}

/* -------- Reset -------- */

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  opacity: 0.5;
}

ul {
  margin-block-end: 0;
  margin-block-start: 0;
  padding-inline-start: 0;
}

h1, h2, h3, p {
  font-size: inherit;
  line-height: inherit;
  margin-top: 0;
  margin-bottom: 0;
}

body {
  margin: 0;
  // background: red;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* -------- Components -------- */

.page {
  color: white;
  background: black;
  font-style: normal;
  font-weight: 600;
  font-family: 'MessinaSansWeb', sans-serif;
}

.fonts {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings:"kern" 1;
  -ms-font-feature-settings:"kern" 1;
  -o-font-feature-settings:"kern" 1;
  -webkit-font-feature-settings:"kern" 1;
  font-feature-settings:"kern" 1;
  font-kerning: normal;
  font-feature-settings: "liga" off;
  font-feature-settings: "dlig" off;
  font-feature-settings: "tnum" off;
  font-feature-settings: "onum" off;
  font-feature-settings: "ss01" off;
}

.animation {
  top: 0;
  left: 0;
  width: 100vw;
  height: 115vh;
  z-index: -2;
  position: absolute;
}

.shader {
  width: 100%;
  height: 100%;
  z-index: -2;
  position: absolute;
}

.fader {
  bottom: 0;
  width: 100%;
  height: 15%;
  z-index: -1;
  position: absolute;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));
}

.container {
  margin: 0 auto;
  max-width: 76rem;
}

.navigation {
  z-index: 2;
  display: flex;
  position: relative;
  font-size: 0.875rem;
  letter-spacing: 0.05rem;
  font-family: 'MessinaSansMonoWeb', sans-serif;
  text-transform: uppercase;
  justify-content: space-between;
}

.navigation .link {
  text-align: right;
}

.navigation > * {
  flex: 1;
}

.navigation li {
  display: inline;
}

.navigation li + li::before {
  content: '/ ';
  margin-left: 0.1rem;
}

.header ul {
  min-width: 8rem;
}

.footer ul {
  min-width: 14rem;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.tile {
  flex: 1;
}

.title {
  font-weight: 600;
}

.section .eyebrow {
  display: block;
  font-size: 0.875rem;
  font-weight: 100;
  letter-spacing: 0.05rem;
  font-family: 'MessinaSansMonoWeb', sans-serif;
  text-transform: uppercase;
}

.section .title {
  display: block;
  font-size: 2.5rem;
  margin-top: 1.25rem;
  line-height: 3rem;
}

.section .title + .title {
  margin-top: 1.875rem;
}

.link .icon {
  font-size: 1.5em;
  line-height: 0;
}

.capability .title {
  font-size: 1.5625rem;
}

.capability .text {
  font-size: 1.125rem;
  margin-top: 0.9375rem;
  font-weight: 100;
  line-height: 1.5625rem;
}

.capability ul {
  opacity: 0.5;
  font-weight: 100;
  list-style: none;
  margin-top: 0.9375rem;
  line-height: 1.5625rem;
}

.capability li:before {
  content: "\2013";
  margin-right: 0.25rem;
}

.contact {
  height: 82vh;
  display: flex;
  font-size: 4.375rem;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.contact .title {
  margin-bottom: 5vh;
}

.goal .eyebrow {
  display: block;
  font-size: 0.875rem;
  font-weight: 100;
  font-family: 'MessinaSansMonoWeb', sans-serif;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

.goal .title {
  display: block;
  font-size: 1.875rem;
  margin-top: 0.9375rem;
}

.goal .text {
  opacity: 0.5;
  font-size: 1.5625rem;
  margin-top: 0.9375rem;
  font-weight: 400;
}

.goal.wide {
  flex: 1.1;
}

.footer {
  padding-bottom: 5rem;
}

.header {
  padding-top: 3.125rem;
  margin-bottom: -4.25rem;
}

.intro {
  height: 101vh;
  display: flex;
  z-index: 1;
  position: relative;
  font-size: 4.375rem;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.intro .title {
  margin-top: 1rem;
  text-transform: uppercase;
}

.intro .text {
  margin-top: 3.125rem;
  line-height: 4.5rem;
}

.partner .title {
  font-size: 1.5625rem;
}

.partner .text {
  opacity: 0.5;
  font-size: 1.125rem;
  margin-top: 0.9375rem;
  font-weight: 400;
  line-height: 1.5625rem;
}

.partner .link {
  display: inline-block;
  font-size: 0.875rem;
  margin-top: 0.9375rem;
  font-weight: 100;
  font-family: 'MessinaSansMonoWeb', sans-serif;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

.projects a {
  position: relative;
}

.projects a:after {
  left: 0;
  right: 0;
  height: 1px;
  bottom: -2px;
  content: '';
  position: absolute;
  background-size: 10px 1px;
  background-image: linear-gradient(90deg, white 50%, transparent 50%);
  // background-position: center; 
}

/* -------- Responsive Scale -------- */

@media (min-width: 1024px) and (max-width: 1300px) {
  html {
    font-size: 13px;
  }
}

@media (min-width: 800px) and (max-width: 1023px) {
  html {
    font-size: 9px;
  }
}

/* -------- Responsive Regular -------- */

@media (min-width: 800px) {
  .line {
    display: block;
  }

  .container + .container {
    margin-top: 15.625rem;
  }

  .tile {
    border: 2px solid white;
    margin: -1px;
    padding: 3.75rem 2.5rem 5rem;
  }

  .tile.full {
    flex-basis: 100%;
  }
  
  .tile.half {
    flex: 1 0 50%;
  }
  
  .tile.third {
    flex: 1 0 33.33%;
  }

  .partner {
    padding-bottom: 3.75rem;
  }

  .capability {
    padding-bottom: 3.75rem;
  }

  .link .icon {
    display: none;
  }
}

/* -------- Responsive Regular -------- */

/* 
  13 0.8125
  14 0.875
  16 1
  20 1.25
  24 1.5
  28 1.75
*/

@media (max-width: 799px) {
  br {
    display: none;
  }

  .animation {
    height: 120vh;
  }
  
  .fader {
    height: 10%;
  }

  .container {
    max-width: 20rem;
    // padding-left: 1rem;
    // padding-right: 1rem;
  }

  .grid {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
  }

  .grid + .grid {
    margin-top: -2px;
  }

  .tile {
    flex-basis: 100%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }

  .section .eyebrow {
    font-size: 0.8125rem;
  }
  
  .section .title {
    font-size: 1.5rem;
    margin-top: 1.25rem;
    line-height: 1.875rem;
  }
  
  .section .title + .title {
    margin-top: 1.25rem;
  }

  .navigation {
    font-size: 0.8125rem;
  }

  .header {
    padding-top: 1.875rem;
    margin-bottom: -4.25rem;
  }

  .intro {
    height: 90vh;
    font-size: 1.75rem;
    max-width: 20rem;
    margin: 0 auto;
  }

  .intro .title {
    margin-top: 4rem;
  }

  .intro .text {
    margin-top: 2rem;
    line-height: 2.125rem;
  }

  .goal .eyebrow {
    font-size: 0.8125rem;
  }
  
  .goal .title {
    font-size: 1.5rem;
    line-height: 1.625rem;
  }
  
  .goal .text {
    font-size: 1.25rem;
    margin-top: 0.9375rem;
  }

  /* .partners {
    margin-bottom: 0.5rem;
  } */

  .partner .title {
    font-size: 1.25rem;
  }
  
  .partner .text {
    font-size: 1rem;
    line-height: 1.375rem;
  }
  
  .partner .link {
    font-size: 0.875rem;
  }

  .capability .title {
    font-size: 1.25rem;
  }
  
  .capability .text {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  
  .capability ul {
    font-size: 1rem;
    line-height: 1.375rem;
  }

  .contact {
    height: 62vh;
    font-size: 1.75rem;
    max-width: 20rem;
    margin: 0 auto;
  }
  
  .contact .title {
    margin-bottom: 5vh;
  }

  .footer {
    padding-bottom: 3rem;
  }

  .link .text {
    display: none;
  }

  .projects a:after {
    bottom: -2px;
  }
}

@media (max-width: 375px) {
  .container {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .intro {
    font-size: 1.75rem;
    max-width: 20rem;
  }
}

@media (max-width: 340px) {
  .container {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .intro {
    font-size: 1.5rem;
    max-width: 18rem;
  }

  .contact .title {
    font-size: 1.25rem;
  }
}